<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vork.KernelControl" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BlueLight" >
        <activity
            android:name=".Activities.CPU"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Settings.AppSettings"
            android:label="@string/action_settings"
            android:parentActivityName=".Activities.CPU"
            android:theme="@style/BlueLight"/>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="14b856af3c3c97073c12fdaec9d804057fbf7331"/>
    </application>

</manifest>
